# Gradle files
.gradle
/build

# Local configuration file (sdk path, etc)
local.properties

# Intellij
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Mac
.DS_Store

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Android Studio captures folder
/captures

.cxx

# Local
/version.properties
/app/src/main/res/raw/aboutlibraries.json
/app/src/debug/google-services.json
/app/src/release/google-services.json
*.apk
*.aab
